[submodule "jupyter/ipyexperiments"]
	path = jupyter/ipyexperiments
	url = https://github.com/stas00/ipyexperiments
[submodule "utils/python/line_profiler"]
	path = utils/python/line_profiler
	url = https://github.com/rkern/line_profiler.git
[submodule "vis/pycallgraph"]
	path = vis/pycallgraph
	url = https://github.com/gak/pycallgraph.git